
.card-sesion{
    position: absolute;
    opacity: 85%; 
    background: #8688f5;  
}

.Login{
    z-index: 1;    
    position: absolute;
    max-width: 35%;

}
.color{
    background-color:rgb(49, 143, 171);
}

.minh-100 {
    height: 25vh;
}
.login{
    max-width: 60%;
    margin-top: 3%;
}
.back{
    background: linear-gradient(#636bf2 ,  #fbfcfb ); 
    height: 100vh;
}
.card-body{
    background:   #5254b1 ; 
}